{% extends "base.html" %}
{% block title %}My Dashboard{% endblock title %}
{% block content %}

<h1> {{ user.username }}'s Dashboard.</h1>

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <h4>Your Listings</h4>
    {% if user_listings %}
        {% for record in user_listings %}
        <div class="card" style="width: 18rem; height: 9rem;">
            <div class="card-body">
              <p class="card-text"> Year: {{ record.year }} <br>Vehicle Make: {{ record.make }} 
                <br>Vehicle Model: {{ record.model }} <br>Mileage: {{ record.mileage }} miles 
                <br>Cost per Day: ${{record.cost_per_day}}</be></p>
            </div>
        {% endfor %}
    {% else %}
    <p>Your registered DriveShare vehicles will appear here.</p>
    {% endif %}

    <h4>Your Applications for a DriveShare Rental</h4>
    {% if user_applications_outgoing %}
        {% for record in user_applications_outgoing %}
        <div class="card" style="width: 18rem; height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Host: {{ record.owner_username }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">For {{ record.req_lease_length_days }} days at ${{ record.cost_per_day }}&#47;day</h6>
                {% if record.is_approved == True %}
                    <p>Status: Approved</p>
                {% else %}
                    <p>Status: Pending</p>
                <p class="card-text"> Year: {{ record.year }} <br>Vehicle Make: {{ record.make }} 
                <br>Vehicle Model: {{ record.model }} <br>Mileage: {{ record.mileage }} miles </be></p>
                    {% endif %}
            </div>
        </div> 
        {% endfor %}
    {% else %}
    <p>Your registered DriveShare vehicles will appear here.</p>
    {% for record in user_applications_outgoing %}
        <div class="card" style="width: 18rem; height: 9rem;">
            <div class="card-body">
              <h5 class="card-title">Host: {{ record.owner_username }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">For {{ record.req_lease_length_days }} days at ${{ record.cost_per_day }}&#47;day</h6>
                {% if record.is_approved == True %}
                    <p>Status: Approved</p>
                {% else %}
                    <p>Status: Pending</p>
                <p class="card-text"> Year: {{ record.year }} <br>Vehicle Make: {{ record.make }} 
                <br>Vehicle Model: {{ record.model }} <br>Mileage: {{ record.mileage }} miles </be></p>
                {% endif %}
            </div>
        </div> 
        {% endfor %}
    {% endif %}

    <h4>Requests for your DriveShare vehicles</h4>
    {% if user_applications_incoming %}
        {% for record in user_applications_incoming %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Applicant: {{ record.borrower_username }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">For {{ record.req_lease_length_days }} days at ${{ record.cost_per_day }}&#47;day</h6>
                <p class="card-text"> Year: {{ record.year }} <br>Vehicle Make: {{ record.make }} 
                <br>Vehicle Model: {{ record.model }} <br>Mileage: {{ record.mileage }} miles </be></p>
              {% if record.is_approved == True %}
                    <p>Status: Approved</p>
                {% else %}
                    <p>Status: Pending</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="form-control" style="display: none;" type="text" name="application-id" value="{{ record.application_id }}" readonly>      
                        <button type="submit" class="btn btn-outline-primary">Approve</button>
                    </form>
                {% endif %}
            </div>
        </div> 
        {% endfor %}
    {% else %}
    <p>Requests for your registered DriveShare vehicles will appear here.</p>
    {% endif %}





{% endblock content %}