{% extends "base.html" %}
{% block title %}My Wallet{% endblock title %}
{% block content %}
    <div class="row my-3 p-3": style="text-align: center;">
        <h1>{{user.username}}'s Wallet</h1>
    </div>

    <div class="row">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content" style="text-align: center;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="">
                    <div class="form-group">
                        <div class="card" style="margin: auto; max-width: 50%;">
                            <h5 class="card-header">Balance</h5>
                            <div class="card-body">
                              <label class="small mb-1" style="padding-right: 5px;"> Add to Balance: </label>{{ balance_form.balance }}
                              <br><br></brz><button type="submit" class="btn btn-primary btn-lg">Confirm</button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Your Balance: {{user.profile.balance}}</h3>
        </form>
    </div>

{% endblock content %}