<!-- templates/welcome.html-->
{% extends "landing_base.html" %} 

{% block title %} DriveShare {% endblock %}


{% block content %} 

{% if user.is_authenticated%}
<div class="row my-3 p-3" style="text-align: center;">
    <h1 style="text-align: center;">Welcome back, {{user.username}}</h1>
    {% else %}
    <h1 style="text-align: center;">Welcome To DriveShare!</h1>
    <br>
    <h2 style="text-align: center;">Create An Account Today!</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2 style="text-align: center;">Or Sign In!</h1>
    {% endif %}
</div>

{% endblock content %}