{% extends "auth_base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3" style="text-align: center;">
        <h1>{{user.username}}'s Profile</h1>
    </div>

    <div class="row" style="text-align: center;">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content" style="text-align: center;">
        <form method="post" enctype="multipart/form-data" style="text-align: center;">
            {% csrf_token %}
            <div class="form-row" style="text-align: center;">
                <div class="col-md-4 offset-md-4" style="text-align: center;">
                    <div class="form-group" style="text-align: center;">
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <br>
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                    </div>
                    <br>
                    <div class="form-group" style="text-align: center;">
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <br>
                    <label class="small mb-1" style="text-align: center;">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark btn-lg" style="text-align: center;">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg" >Reset</button>
        </form>
    </div>

{% endblock content %}